Package: bash-builtins
Source: bash
Version: 4.4.18-3.1
Architecture: amd64
Maintainer: Matthias Klose <doko@debian.org>
Installed-Size: 821
Depends: bash (= 4.4.18-3.1)
Section: utils
Priority: optional
Homepage: http://tiswww.case.edu/php/chet/bash/bashtop.html
Description: Bash loadable builtins - headers & examples
 Bash can dynamically load new builtin commands.  Included are the
 necessary headers to compile your own builtins and lots of examples.
